include lanrzip_material_components/lanrzip_material_components.min.js
include lanrzip_material_components/lanrzip_material_components.min.js.map
include lanrzip_material_components/async-*.js
include lanrzip_material_components/async-*.js.map
include lanrzip_material_components/*-shared.js
include lanrzip_material_components/*-shared.js.map
include lanrzip_material_components/metadata.json
include lanrzip_material_components/package-info.json
include README.md
include LICENSE
include package.json
